{% extends "tada_entry/base.html" %}


{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Date</td>
            <td>Name</td>
            <td>Travel Cost</td>
            <td>Lunch Cost</td>
            <td>Instrument Cost</td>
            <td>Total Cost</td>
            <td>Paid</td>
            <td>
                <a href="{% url 'employee_tada_add' %}" class = "btn btn-outline-success">
                    <i class = "fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for tada in tada_list %}
        <tr>
            <td>{{tada.date}}</td>
            <td>{{tada.employee_name}}</td>
            <td>{{tada.travel_cost}}</td>
            <td>{{tada.lunch_cost}}</td>
            <td>{{tada.instruments_cost}}</td>
            {% load mathfilters %}
            {% with answer=tada.travel_cost|add:tada.lunch_cost %}
            <td> {{ answer|add:tada.instruments_cost }}</td>
            {% endwith %}
            <td>{{tada.paid}}</td>
            <td>
                <a href="{% url 'tada_update' tada.id %}" class="btn text-secondary-px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                
                <form action="{% url 'tada_delete' tada.id %}" method="POST" class= "d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}